body{
    margin: 0px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.header{
    /* Primeira parte do menu */
    background-color: rgb(150,28,28);
    width: 100%;
    height: 130px;
    display: flex;
    justify-content: center;
}
.header img{
    /* Logo */
    margin-top: 10px;
    width: 150px;
    height: 110px;
}
.menu{
    /* Segunda parte do menu */
    height: 50px;
    background-color: rgb(150,28,28);
    width: 100%;
    display: flex;
    justify-content: center;
}
.navBar{
    /* Lista do menu */
    color: white;
    list-style: none;
    display: flex;
    justify-content: space-evenly;
    font-size: 20px;
    width: 800px;
    padding: 0;
}
.menu ul li {
    display: inline;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.menu ul{
    margin: 0px;
}
.corpo{
    /* Corpo da página */
    display: flex;
    flex-direction: column-reverse;
    height: 1000px;
    background-color: white;
}
.rodape{
    width: 100%;
    height: 50px;
    background-color: rgb(150,28,28);
    display: flex;
    justify-content: space-between;
}
.navBarR{
    /* Conteúdo do rodapé */
    list-style: none;
    color: white;
    display: flex;
    justify-content: space-evenly;
    width: 300px;
    padding: 0;
    align-items: center;
}
.copyright{
    /* Mensagem de copyright */
    color: white;
    width: fit-content;
    display: flex;
    align-items: center;
}